body {
	font-family: Monospace;
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
	color: #000;
}
#myProgress {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	z-index: -999;
}
#myBar {
	position: absolute;
	top: 50%;
	width: 0%;
	height: 20px;
	background-color: green;
}
#percent {
	font-size: 20px;
	position: absolute;
	width: 100%;
	top: 45%;
	text-align: center;
	color: #ffffff;
}
#manual {
	position: absolute;
	font-size: 10px;
	width: 100%;
	text-align: right;
	color: white;
	background-color: rgba( 204, 255, 204, 0);
}
#mouse_pos {
	position: absolute;
	font-size: 20px;
	color: #ffffff;
	top: 60%;
	right: 0;
	z-index: 6;
}
#camera_pos {
	position: absolute;
	font-size: 10px;
	color: #aaaaaa;
	top: 200px;
	right: 0;
	z-index: 6;
}
#camera_rot {
	position: absolute;
	font-size: 10px;
	color: #aaaaaa;
	right: 0;
	top: 250px;
	z-index: 6;
}
#plyname {
	position: absolute;
	text-align: center;
	color: #aaaaaa: z-index: 6;
}
#ver {
	position: absolute;
	text-align: center;
	color: #aaaaaa: z-index: 6;
}
#visible {
	width: 100%;
	position: absolute;
	text-align: right;
	color: white;
	bottom: 20px;
}
#geometry {
	width: 100%;
	position: absolute;
	text-align: right;
	color: white;
	top: 50%;
}
#menu {
	position: absolute;
}
.menuPushyButton {
	position: absolute;
	left: 400px;
	width: 200px;
	height: 40px;
	background-color: white;
	z-index: 10;
}
.i2Style {
	position: absolute;
	right: 0;
	font: normal 11px Verdana, Geneva, sans-serif;
	font-style: normal;
	color: #0f0f0f;
	background: #ededed;
	border: 1px solid #bbb;
	text-shadow: 1px 1px 0px #fff;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	width: 100px;
	padding: 10px 20px;
	margin: 0 auto;
	display: none;
}
.i2Style.diff {
	top: 0px;
}
.i2Style.zpos {
	top: 50px;
}
#ply_change {
	position: absolute;
	top: 100px;
	z-index: 10;
}
#dialogue {
	width: 100%;
	height: 100%;
}
div.spinner {
	position: fixed !important;
}
